[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glmtree"]
	path = glmtree
	url = https://github.com/adimajo/glmtree
[submodule "scoringTools"]
	path = scoringTools
	url = https://github.com/adimajo/scoringtools
